/* General Styles */
body {
    font-family: 'Montserrat', 'Valken', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e9e5ee;
}

header, footer {
    width: 100%;
    padding: 1rem;
    background-color: #2c2c2e;
    color: #fff;
    text-align: center;
}

footer {
    margin-top: auto;
}

footer p {
    color: #fff;
}

main {
    padding: 1rem;
    text-align: center;
    flex: 1;
}

h1, p {
    color: #333;
}

.chepek {
    font-family: 'Valken';
    color: #fff;
    -webkit-text-stroke: .5px #5a26cf;
}

nav {
    margin-top: 1rem;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #5a26cf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
}

.button:hover {
    background-color: #4521a3;
    transform: scale(1.05);
}

.button:active {
    background-color: #301476;
    transform: scale(0.95);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.flipped {
    background-color: #fff;
}

.card.matched {
    background-color: #a4e8a4;
    pointer-events: none;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card:active {
    transform: scale(0.95);
}

.card {
    transition: transform 0.5s ease-in-out;
}

.card.flipped {
    transform: rotateY();
}

.card.matched {
    background-color: #8bc34a;
}
